{% load static %}
{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/components/Nav-bar-home.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/Footer-home.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/Home.css' %}">
</head>
<body>
   


      <!-- Menú de navegación -->
      <nav>
        <div class="logo">LOGO</div>
        <div class="menu-toggle" id="menu-toggle">
            <!-- Ícono del menú hamburguesa -->
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="navbar" id="navbar">
            <a href="#principal">Principal</a>
            <a href="#informacion">Información</a>
            <a href="#nosotros">Nosotros</a>
            <a href="#iniciar-sesion">Iniciar Sesión</a>
        </div>
    </nav>
    

    <!-- Banner -->
    <header class="banner">
        <div class="banner-content">
            <h1 >Bienvenido a nuestra página</h1>
            <p>Explora nuestros productos y descubre lo mejor de nuestra OJC. Cuidado personal.</p>
            <a href="#saber-mas" class="btn">Saber más</a>
        </div>
    </header>


    <script src="{% static 'js/components/navbar.js' %}"></script>




</body>
</html>