{% extends 'dashboard/admin/base.html' %}
{% load static %}
{% load django_browser_reload %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ page_title }}{% endblock %}</title>
    <!-- Bloque para estilos específicos de dashboard.html -->
    {% block extra_css %}
       <link rel="stylesheet" href="{% static '/css/dashboard.css' %}">
   {% endblock %}   
</head>
<body>
    <h1>hola</h1>
</body>
    {% block content %}
        
    <div class="dashboard-container">
        <div class="control-panel">
            <!-- Contenedor 1 -->
            <div class="panel-item gradient-1">
                <div class="icon-wrapper">
                    <i class='bx bx-user nav__icon'></i>
                </div>
                <h3>Usuarios</h3>
                <p id="total-usuarios">Cargando...</p>
                <div class="panel-footer">
                    <span>+12% este mes</span>
                </div>
            </div>

            <!-- Contenedor 2 -->
            <div class="panel-item gradient-2">
                <div class="icon-wrapper">
                    <i class='bx bx-purchase-tag-alt'></i>
                </div>
                <h3>Stock de inventario</h3>
                <p id="total-inventario">Cargando...</p>
                <div class="panel-footer">
                    <span>+8% vs mes anterior</span>
                </div>
            </div>

            <!-- Contenedor 5 -->
            <div class="panel-item gradient-5">
                <div class="icon-wrapper">
                    <i class='bx bx-bell'></i>
                </div>
                <h3>Notificaciones</h3>
                <p>25 sin leer</p>
                <div class="panel-footer">
                    <span>Ver todas</span>
                </div>
            </div>

            <!-- Contenedor 6 -->
            <div class="panel-item gradient-6">
                <div class="icon-wrapper">
                    <i class='bx bx-cog' ></i>
                </div>
                <h3>Configuración</h3>
                <p>Sistema</p>
                <div class="panel-footer">
                    <span>Actualizado</span>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
</html>