@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Formateo de página */
* {
  box-sizing: border-box;
}

body {
  margin: 3.5rem 0 0 0; /* altura del encabezado */
  padding: 1rem 1rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  background-color: #ffffff; /* Color de fondo */
  color: #58555e; /* Color del texto */
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Nav */
.nav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  padding: 1rem 1rem 0;
  background-color: #ffffff; /* Color del contenedor */
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: 100; /* Z-index fijo */
  transition: 0.4s;
}

.nav__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  overflow: auto;
  scrollbar-width: none;
}

.nav__container::-webkit-scrollbar {
  display: none;
}

.nav__logo {
  font-weight: 600; /* Negrita */
  margin-bottom: 2.5rem;
}

.nav__list, .nav__items {
  display: grid;
}

.nav__list {
  row-gap: 2.5rem;
}

.nav__items {
  row-gap: 1.5rem;
}

.nav__subtitle {
  font-size: 0.938rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #a5a1aa; /* Color del texto claro */
}

.nav__link {
  display: flex;
  align-items: center;
  color: #6a5acd; /* Color morado pastel */
}

.nav__link:hover {
  color: #ff69b4; /* Color rosa pastel al pasar el ratón */
}

.nav__icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.nav__name {
  font-size: 0.75rem;
  font-weight: 500;
  white-space: nowrap;
}

.nav__logout {
  margin-top: 5rem;
}

.nav__dropdown {
  overflow: hidden;
  max-height: 21px;
  transition: 0.4s ease-in-out;
}

.nav__dropdown-collapse {
  background-color: #1d1b1f; /* Color claro */
  border-radius: 0.25rem;
  margin-top: 1rem;
}

.nav__dropdown-content {
  display: grid;
  row-gap: 0.5rem;
  padding: 0.75rem 2.5rem 0.75rem 1.8rem;
}

.nav__dropdown-item {
  font-size: 0.75rem;
  font-weight: 500;
  color: #58555e; /* Color del texto */
}

.nav__dropdown-item:hover {
  color: #d0cd23; /* Color al pasar el ratón */
}

.nav__dropdown-icon {
  margin-left: auto;
  transition: 0.4s;
}

.nav__dropdown:hover {
  max-height: 100rem;
}

.nav__dropdown:hover .nav__dropdown-icon {
  transform: rotate(180deg);
}

/* Clases agregadas con JS */
.show-menu {
  left: 0;
}

.active {
  color: #5513f1; /* Color activo */
}




.header-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #6a5acd; /* Color que combine con tu navbar */
    cursor: pointer;
    z-index: 200; /* Asegúrate de que esté por encima del menú */
    display: none; /* Oculto por defecto */
  }
  
  /* Mostrar el botón en pantallas pequeñas */
  @media screen and (max-width: 768px) {
    .header-toggle {
      display: block; /* Mostrar el botón en pantallas pequeñas */
    }
  }
  


/* Media Queries */
@media screen and (max-width: 320px) {
  .header__search {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding: 1rem 3rem 0 6rem;
  }

  .nav {
    left: 0;
    padding: 1.2rem 1.5rem 0;
    width: 68px;
  }

  .nav__items {
    row-gap: 1.7rem;
  }

  .nav__icon {
    font-size: 1.3rem;
  }

  .nav__logo-name, .nav__name, .nav__subtitle, .nav__dropdown-icon {
    opacity: 0;
    transition: 0.3s;
  }

  .nav:hover {
    width: 219px; /* Ancho de la navegación */
  }

  .nav:hover .nav__logo-name {
    opacity: 1;
  }

  .nav:hover .nav__subtitle {
    opacity: 1;
  }

  .nav:hover .nav__name {
    opacity: 1;
  }

  .nav:hover .nav__dropdown-icon {
    opacity: 1;
  }
}
