{% load static %}
{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dashboar_content.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <title>Document</title>
</head>
<body>

    <h1>Panel de control</h1>

    <div class="grid-container">
        <!-- Bloque para Usuarios -->
        <div class="block block1">
            <i class="icon-user"></i>
            <div class="content">
                <h2>Usuarios Registrados</h2>
                {% if user_count > 0 %}
                    <span class="count">{{ user_count }}</span>
                {% else %}
                    <span class="no-data">No existen datos registrados</span>
                {% endif %}
            </div>
        </div>
    
        <!-- Bloque para Categorías -->
        <div class="block block2">
            <i class="icon-category"></i>
            <div class="content">
                <h2>Categorías Disponibles</h2>
                {% if categoria_count > 0 %}
                    <span class="count">{{ categoria_count }}</span>
                {% else %}
                    <span class="no-data">No existen datos registrados</span>
                {% endif %}
            </div>
        </div>
    
        <!-- Bloque para Marcas -->
        <div class="block block3">
            <i class="icon-brand"></i>
            <div class="content">
                <h2>Marcas Disponibles</h2>
                {% if marca_count > 0 %}
                    <span class="count">{{ marca_count }}</span>
                {% else %}
                    <span class="no-data">No existen datos registrados</span>
                {% endif %}
            </div>
        </div>
    
        <!-- Bloque para Presentaciones -->
        <div class="block block4">
            <i class="icon-presentation"></i>
            <div class="content">
                <h2>Presentaciones Disponibles</h2>
                {% if presentacion_count > 0 %}
                    <span class="count">{{ presentacion_count }}</span>
                {% else %}
                    <span class="no-data">No existen datos registrados</span>
                {% endif %}
            </div>
        </div>
    
        <!-- Bloque para Cartas de Color -->
        <div class="block block5">
            <i class="icon-color"></i>
            <div class="content">
                <h2>Cartas de Color</h2>
                {% if carta_color_count > 0 %}
                    <span class="count">{{ carta_color_count }}</span>
                {% else %}
                    <span class="no-data">No existen datos registrados</span>
                {% endif %}
            </div>
        </div>
    
        <!-- Bloque para Productos -->
        <div class="block block6">
            <i class="icon-product"></i>
            <div class="content">
                <h2>Productos Disponibles</h2>
                {% if producto_count > 0 %}
                    <span class="count">{{ producto_count }}</span>
                {% else %}
                    <span class="no-data">No existen datos registrados</span>
                {% endif %}
            </div>
        </div>
    </div>
    

</body>
</html>