{% extends 'products/admin/base.html' %}
{% load static %}
{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ page_title }}{% endblock %}</title>
      <!-- Bloque para estilos específicos de productos.html -->
    {% block extra_css %}
      <link rel="stylesheet" href="{% static 'admin/css/prueba2.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}
    <h1>hola estas son mis Inventario</h1>
    <table id="inventario-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Ubicación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se llenará el inventario con JavaScript -->
        </tbody>
    </table>
    <script src="{% static 'admin/js/api/list_inventory.js' %}"></script>
    {% endblock %}
</body>
</html>