{% extends 'products/admin/base.html' %}
{% load static %}
{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ page_title }}{% endblock %}</title>
      <!-- Bloque para estilos específicos de productos.html -->
    {% block extra_css %}
      <link rel="stylesheet" href="{% static 'admin/css/prueba2.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}
    <h1>hola estas son mis productos</h1>
    <table id="productos-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Categoría</th>
                <th>Presentación</th>
                <th>Carta de Color</th>
                <th>Precio</th>
                <th>Código de Barras</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se llenarán los productos con JavaScript -->
        </tbody>
    </table>
    <script src="{% static 'admin/js/api/list_products.js' %}"></script>
    {% endblock %}
</body>
</html>