{% extends 'products/admin/base.html' %}
{% load static %}
{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Usuarios{% endblock %}</title>
    <!-- Bloque para estilos específicos de users.html -->
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'admin/css/prueba1.css' %}">
    {% endblock %}
    
</head>
<body>
    {% block content %}
    <h1>Lista de usuarios con api</h1>
    <p>Listado de productos desde la API</p>
    <table id="usuarios-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Apellido</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se llenarán los datos con JavaScript -->
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Apellido</th>
                <!-- Agrega más columnas según sea necesario -->
            </tr>
        </thead>
        <tbody>
            <p>lista de usuarios generica</p>
            {% for user in users %}
            <tr></tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.last_name }}</td>
                <!-- Agrega más campos según sea necesario -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}


    <!-- Incluye el archivo JavaScript -->


    {% block extra_js %}
    <script src="{% static 'admin/js/api/list_users.js' %}"></script>
    {% endblock %}


</body>
</html>