{% extends 'products/admin/base.html' %}
{% load static %}
{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Usuarios{% endblock %}</title>
</head>
<body>
    {% block content %}
    <h1>Lista de Usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Apellido</th>
                <!-- Agrega más columnas según sea necesario -->
            </tr>
        </thead>
        <tbody>
            <h1>prueba generica</h1>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.last_name }}</td>
                <!-- Agrega más campos según sea necesario -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</body>
</html>