<header class="header header-container" id="header">
    <div class="header__toggle">
        <i class='bx bx-menu' id="header-toggle"></i>
    </div>
    <!-- ...existing code... -->
    <div class="header__img" id="profileButton">
        <div class="profile-container">
            <div class="n">D</div>
            <div class="dropdown-menu" id="dropdownMenu">
                <a href="#" class="dropdown-item"><i class='bx bx-user nav__icon'></i>Mi perfil</a>
                <a href="#" class="dropdown-item"><i class='bx bx-cog'></i>Configuración</a>
                <a href="#" class="dropdown-item"><i class='bx bx-bookmark nav__icon'></i>Planes</a>
                <a href="#" class="dropdown-item"><i class='bx bx-log-out nav__icon'></i>Cerrar sesión</a>
            </div>
        </div>
    </div>
    <!-- ...existing code... -->
</header>
