
<body id="body-pd">
    <header class="header" id="header">
        <div class="header__toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>
        <div class="header__img" id="profileButton">
            <div class="profile-container">
                <div class="n">D</div>
                <div class="dropdown-menu" id="dropdownMenu">
                    <a href="#" class="dropdown-item"><i class='bx bx-user nav__icon'></i>Mi perfil</a>
                    <a href="#" class="dropdown-item"><i class='bx bx-cog'></i>Configuración</a>
                    <a href="#" class="dropdown-item"><i class='bx bx-bookmark nav__icon'></i>Planes</a>
                    <a href="#" class="dropdown-item"><i class='bx bx-log-out nav__icon'></i>Cerrar sesión</a>
                </div>
            </div>
        </div>
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav__logo">
                    <i class='bx bx-layer nav__logo-icon'></i>
                    <span class="nav__logo-name">Sistema</span>
                </a>
                <div class="nav__list">
                    <a href="#" class="nav__link active">
                        <i class='bx bx-grid-alt nav__icon'></i>
                        <span class="nav__name">Dashboard</span>
                    </a>
                    <a href="#" class="nav__link">
                        <i class='bx bx-user nav__icon'></i>
                        <span class="nav__name">Users</span>
                    </a>
                    <a href="#" class="nav__link">
                        <i class='bx bx-message-square-detail nav__icon'></i>
                        <span class="nav__name">Productos</span>
                    </a>
                    <a href="#" class="nav__link">
                        <i class='bx bx-bookmark nav__icon'></i>
                        <span class="nav__name">Categorias</span>
                    </a>
                    <a href="#" class="nav__link">
                        <i class='bx bx-folder nav__icon'></i>
                        <span class="nav__name">Inventario</span>
                    </a>
                    <a href="#" class="nav__link">
                        <i class='bx bx-bar-chart-alt-2 nav__icon'></i>
                        <span class="nav__name">Estadisticas</span>
                    </a>
                </div>
            </div>
            <a href="#" class="nav__link">
                <i class='bx bx-log-out nav__icon'></i>
                <span class="nav__name">Log Out</span>
            </a>
        </nav>
    </div>




    <!--===== MAIN JS =====-->
    <script src="assets/js/main.js"></script>
</body>

