{% load static %}
{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de marcas</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Lista de Productos ojo permisos de roll desabilitados</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="marcas-tbody">
            <!-- Aquí se agregarán los productos dinámicamente -->
        </tbody>
    </table>
    <script src="{% static 'js/admin/marcas/list.js' %}"></script>
</body>
</html>
